<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
            <h1 class="home-title">Quiet Trace: Echo Patterns</h1>
            <p class="home-text">It appears. It fades. You remember.</p>
            <p class="home-text home-text-two">So here's the thing - a pattern shows up on the board for just a second, kinda faint but definitely there.<br/>
            Then it disappears.<br />
            What remains is memory.<br />
            Then you've gotta try to draw it back from memory. No cheating, just whatever you can remember.</p>
            <p class="home-text-three">It’s not about speed.<br/>
            It’s about clarity.</p>
            <a class="home-link" href="#how">
                <p>See How It Works</p>
            </a>
        </div>
    </div>
</section>
<section class="puzzle" id="puzzle">
    <div class="container puzzle-container">
        <div class="puzzle-wrapper">
            <h2>A Puzzle Built on Disappearance</h2>
            <div class="puzzle-text-wrapper">
                <p>Patterns appear once. Soft glowing lines briefly define a path across a quiet grid.</p>
                <p>Then they fade away completely.</p>
                <p>You must reconstruct them from memory. No hints. No replay during tracing.</p>
                <p>Only what you perceived remains.</p>
            </div>
        </div>
        <div class="puzzle-img">
            <img src="/img/puzzle/div.png" alt="puzzle" loading="lazy">
            <p class="puzzle-text">Pattern fades in and out — observe carefully</p>
        </div>
    </div>
</section>
<section class="observe-section" id="observe">
    <div class="container observe-container">
        <h2>Observe. Remember. Trace.</h2>
        <ul class="observe-list">
            <li class="observe-item">
                <div class="observe-item-wrapper">
                <p class="number-text">Step 1</p>
                <img class="observe-img" src="/img/observe/one.png" alt="icon" loading="lazy">
            </div>
            <p class="observe-item-title">Exposure</p>
            <p class="observe-item-text">The grid lights up briefly. Lines glow and define the path.</p>
            </li>
            <li class="observe-item">
                <div class="observe-item-wrapper">
                    <p class="number-text">Step 2</p>
                    <img class="observe-img" src="/img/observe/two.png" alt="icon" loading="lazy">
                </div>
                <p class="observe-item-title">Silence</p>
                <p class="observe-item-text">The board returns to stillness.</p>
            </li>
            <li class="observe-item">
                <div class="observe-item-wrapper">
                    <p class="number-text">Step 3</p>
                    <img class="observe-img" src="/img/observe/three.png" alt="icon" loading="lazy">
                </div>
                <p class="observe-item-title">Reconstruction</p>
                <p class="observe-item-text">You draw the pattern back into existence.</p>
            </li>
        </ul>
    </div>
</section>
<section class="not-section" id="not">
    <div class="container not-container">
        <div class="not-wrapper">
        <h2>Not Every Memory Is Perfect</h2>
        <p class="not-text">As levels progress:</p>
        <ul class="not-list">
            <li class="not-item">
                <img class="not-icon" src="/img/not/one.png" alt="icon" loading="lazy">
                <p class="not-item-text">Patterns become longer</p>
            </li>
            <li class="not-item">
                <img class="not-icon" src="/img/not/two.png" alt="icon" loading="lazy">
                <p class="not-item-text">Angles become sharper</p>
            </li>
            <li class="not-item">
                <img class="not-icon" src="/img/not/three.png" alt="icon" loading="lazy">
                <p class="not-item-text">Lines overlap</p>
            </li>
            <li class="not-item">
                <img class="not-icon" src="/img/not/four.png" alt="icon" loading="lazy">
                <p class="not-item-text">Some segments shift slightly</p>
            </li>
        </ul>
        <p class="not-text-two">Occasionally, the echo distorts — just enough to challenge recall.<br/>
        Look, we're not trying to be jerks here, but yeah, we'll mess with you a bit as you get better.</p>
    </div>
    <picture>
        <source srcset="
                    /img/not/not-desk.png 1x,
                    /img/not/not-desk@2x.png 2x
                      " media="(min-width: 1440px)" />
        <source srcset="
                    /img/not/not-mob.png 1x,
                    /img/not/not-mob@2x.png 2x
                       " media="(max-width: 1439px)" />
        <img class="not-img" src="/img/not/not-mob.png" alt="Quiet Trace" loading="lazy" />
    </picture>
</div>
</section>
<section class="how-section" id="how">
    <div class="container how-container">
        
            <h2 class="center">How Well You Did</h2>
            <p class="white center how-text mob">Your trace is compared against the original pattern with precision metrics:</p>
            <p class="white center desk how-text-desk">Scoring is based on:</p>
            <div class="how-wrap">
            <div class="how-wrapper">
            <p class="white how-text-two">Scoring System</p>
            <ul class="how-list">
                <li class="how-item">
                    <div class="dot"></div>
                    <p class="how-item-text">Line alignment accuracy</p>
                </li>
                <li class="how-item">
                    <div class="dot"></div>
                    <p class="how-item-text">Distance from original path</p>
                </li>
                <li class="how-item">
                    <div class="dot"></div>
                    <p class="how-item-text">Overlap precision</p>
                </li>
                <li class="how-item">
                    <div class="dot"></div>
                    <p class="how-item-text">Optional completion timing</p>
                </li>
            </ul>
        </div>
        <div class="how-img-wrapper">
            <img src="/img/how/how.png" alt="How Well You Did" loading="lazy">
            <ul class="how-icon-list">
                <li class="how-icon-item">
                    <div class="how-one"></div>
                    <p class="how-icon-text">Original</p>
                </li>
                <li class="how-icon-item">
                    <div class="how-two"></div>
                    <p class="how-icon-text">Your Trace</p>
                </li>
                <li class="how-icon-item">
                    <div class="how-three"></div>
                    <p class="how-icon-text">Deviation</p>
                </li>
            </ul>
        </div>
            </div>
            <p class="white center desk ">Replay allows you to refine your trace.<br/>
            Each attempt reveals where memory blurred.</p>
    </div>
</section>
<section class="from-section" id="from">
    <div class="container from-container">
        <h2 class="center">From Simple Shapes to Layered Patterns</h2>
        <p class="white center from-text">Early boards show minimal lines.<br/>
        Later boards introduce:</p>
         <ul class="from-list">
                <li class="how-item">
                    <div class="dot"></div>
                    <p class="how-item-text">Intersecting paths</p>
                </li>
                <li class="how-item">
                    <div class="dot"></div>
                    <p class="how-item-text">Dual-phase memory layers</p>
                </li>
                <li class="how-item">
                    <div class="dot"></div>
                    <p class="how-item-text">Sequential pattern flashes</p>
                </li>
                <li class="how-item">
                    <div class="dot"></div>
                    <p class="how-item-text">Multi-board recall</p>
                </li>
         </ul>
         <p class="white center">Complexity grows gradually.<br/>
        Memory strengthens with practice.</p>
    </div>
</section>
<section class="soft-section" id="soft">
    <div class="container soft-container">
        <h2 class="center">Soft. Focused. Minimal.</h2>
         <div class="cards-swiper soft-swiper">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                        <img class="soft-img" src="/img/soft/one.png" alt="icon" loading="lazy">
                    <h3 class="soft-item-title">Fading Visual Design</h3>
                    <p class="soft-item-text">Lines appear and dissolve <br/> smoothly.</p>
                </div>
                <div class="swiper-slide">
                    <img class="soft-img" src="/img/soft/two.png" alt="icon" loading="lazy">
                    <h3 class="soft-item-title">No Harsh Contrast</h3>
                    <p class="soft-item-text">Muted tones reduce visual strain.</p>
                </div>
                <div class="swiper-slide">
                    <img class="soft-img" src="/img/soft/three.png" alt="icon" loading="lazy">
                    <h3 class="soft-item-title">Calm Sound Design</h3>
                    <p class="soft-item-text">Ambient tones support focus.</p>
                </div>
                <div class="swiper-slide">
                    <img class="soft-img" src="/img/soft/four.png" alt="icon" loading="lazy">
                    <h3 class="soft-item-title">Replay for Mastery</h3>
                    <p class="soft-item-text">Players naturally improve <br/> precision over time.</p>
                </div>
            </div>
        </div>

        <div class="swiper-ui">
            <button class="swiper-btn soft-prev" type="button" aria-label="Prev">
                <img src="/img/soft/arrow-left.png" alt="arrow" loading="lazy">
            </button>
            <div class="swiper-pagination soft-pagination"></div>
            <button class="swiper-btn soft-next" type="button" aria-label="Next">
            <img src="/img/soft/arrow-right.png" alt="arrow" loading="lazy">
            </button>
        </div>
    </div>
</section>
<section class="gallery-section" id="gallery">
    <div class="container">
<h2 class="center">Visual Gallery</h2>
     <div class="cards-swiper gallery-swiper">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                        <img class="gallery-img" src="/img/gallery/one.png" alt="icon" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="gallery-img" src="/img/gallery/two.png" alt="icon" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="gallery-img" src="/img/gallery/three.png" alt="icon" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="gallery-img" src="/img/gallery/four.png" alt="icon" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="gallery-img" src="/img/gallery/five.png" alt="icon" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="gallery-img" src="/img/gallery/six.png" alt="icon" loading="lazy">
                </div>
            </div>
        </div>

        <div class="swiper-ui">
            <button class="swiper-btn gallery-prev" type="button" aria-label="Prev">
                <img src="/img/soft/arrow-left.png" alt="arrow" loading="lazy">
            </button>
            <div class="swiper-pagination gallery-pagination"></div>
            <button class="swiper-btn gallery-next" type="button" aria-label="Next">
            <img src="/img/soft/arrow-right.png" alt="arrow" loading="lazy">
            </button>
        </div>
    </div>
</section>
<section class="faq-section" id="faq">
    <div class="container">
        <h2 class="center">FAQ</h2>
    <ul class="faq-acc">
        <li class="faq-acc-el faq-current">
            <h3 class="faq-acc-el-title">
                <button type="button" class="faq-acc-el-trigger">
                    Is this a fast-paced city builder?
    
                    <span class="faq-acc-arr arr-down">
<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M3.3335 8H12.6668" stroke="white" stroke-opacity="0.25" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M8 3.3335V12.6668" stroke="white" stroke-opacity="0.25" stroke-linecap="round" stroke-linejoin="round" />
</svg>
                    </span>
                </button>
            </h3>
    
            <p class="faq-acc-el-descr-frame">The early levels are simple and easy to understand. They focus on helping you build memory confidence. As patterns grow
            more complex, precision becomes more important. It ramps up at a decent pace - not too easy, not brutal.</p>
        </li>
        <li class="faq-acc-el faq-current">
            <h3 class="faq-acc-el-title">
                <button type="button" class="faq-acc-el-trigger">
                    Is there time pressure?
        
                    <span class="faq-acc-arr arr-down">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.3335 8H12.6668" stroke="white" stroke-opacity="0.25" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M8 3.3335V12.6668" stroke="white" stroke-opacity="0.25" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </span>
                </button>
            </h3>
        
            <p class="faq-acc-el-descr-frame">Standard mode allows you to trace at your own pace. Optional challenge modes may include timed reconstruction. The core
            experience remains calm and reflective.</p>
        </li>
        <li class="faq-acc-el faq-current">
            <h3 class="faq-acc-el-title">
                <button type="button" class="faq-acc-el-trigger">
                    What makes it different from other memory games?
        
                    <span class="faq-acc-arr arr-down">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.3335 8H12.6668" stroke="white" stroke-opacity="0.25" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M8 3.3335V12.6668" stroke="white" stroke-opacity="0.25" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </span>
                </button>
            </h3>
        
            <p class="faq-acc-el-descr-frame">Other memory games are all about how fast you can go. This one's different - it's more about really seeing and
            remembering the details. It feels less like memorizing and more like remembering.</p>
        </li>
        <li class="faq-acc-el faq-current">
            <h3 class="faq-acc-el-title">
                <button type="button" class="faq-acc-el-trigger">
                    Can I replay levels?
        
                    <span class="faq-acc-arr arr-down">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.3335 8H12.6668" stroke="white" stroke-opacity="0.25" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M8 3.3335V12.6668" stroke="white" stroke-opacity="0.25" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </span>
                </button>
            </h3>
        
            <p class="faq-acc-el-descr-frame">Yes. Replay is encouraged. Many players improve alignment accuracy over multiple attempts. Precision becomes part of the
            satisfaction.</p>
        </li>
        <li class="faq-acc-el faq-current">
            <h3 class="faq-acc-el-title">
                <button type="button" class="faq-acc-el-trigger">
                    Is it suitable for casual players?
        
                    <span class="faq-acc-arr arr-down">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.3335 8H12.6668" stroke="white" stroke-opacity="0.25" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M8 3.3335V12.6668" stroke="white" stroke-opacity="0.25" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </span>
                </button>
            </h3>
        
            <p class="faq-acc-el-descr-frame">Yes. Controls are simple and intuitive. It's pretty chill to play, and it won't throw you in the deep end right away.</p>
        </li>
          </ul>
    </div>
</section>
<section class="final-section" id="final">
    <div class="container final-container">
        <h2 class="center">Ready to Trace What Remains?</h2>
        <div class="final-text-wrapper">
            <p>The pattern will fade.<br/>
            Your memory will remain.</p>
            <p>The board is waiting.</p>
        </div>
        <a class="home-link final-link" href="#how">
            <p>Let`s Begin</p>
        </a>
    </div>
</section>