.home-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.home-container{
    padding-top: 130px;
    padding-bottom: 188px;
}
.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-title{
    font-family: "Sora", sans-serif;
        font-weight: 800;
        font-size: 28px;
        text-align: center;
        color: #fff;
        margin-bottom: 10px;
}
.home-text{
    text-align: center;
        color: #fff;
}
.home-text-two{
    margin-top: 50px;
    margin-bottom: 30px;
}
.home-text-three{
font-weight: 200;
color: #fff;
text-align: center;
}
.home-link{
   margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        padding: 7px;
        width: 192px;
        height: 35px;
        background: rgba(0, 9, 67, 0.3);
    font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 13px;
        line-height: 1.5;
        letter-spacing: 0.05em;
        text-align: center;
        color: #fff;
        transition: transform 0.3s ease-in-out;
}
.home-link:hover{
transform: scale(1.02);
}
@media only screen and (min-width: 1440px) {
 .home-section{
    background-image: url("/img/hero/desk.png");
 }
 .home-container {
     padding-top: 170px;
     padding-bottom: 230px;
 }
 .home-title{
    font-size: 60px;
 }
 .home-link{
    width: 250px;
        height: 50px;
        padding: 15px;
    font-size: 20px;
 }
}
/* A Puzzle Built on Disappearance */
.puzzle-text-wrapper{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.puzzle-img{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.puzzle-text{
    font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 11px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        text-align: center;
        color: rgba(255, 255, 255, 0.2);
}
@media only screen and (min-width: 1440px) {
 .puzzle-container{
    display: flex;
    align-items: center;
    gap: 100px;
 }
 .puzzle-wrapper{
    width: 560px;
 }
}
/* Observe. Remember. Trace. */
.observe-section{
background:
        radial-gradient(ellipse 100% 660px at center,
            rgba(0, 132, 255, 0.20),
            rgba(64, 86, 255, 0.12) 35%,
            rgba(32, 40, 140, 0.06) 55%,
            rgba(2, 6, 24, 0) 70%),
        #020618;
}
.observe-list{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.observe-item{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 9px 20px;
        border-radius: 16px;
        width: 335px;
        height: 221px;
        background: linear-gradient(180deg, rgba(15, 23, 43, 0.5) 0%, rgba(15, 23, 43, 0.2) 100%);
display: flex;
flex-direction: column;
gap: 8px;
}
.observe-item-wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
}
.observe-img{
    margin-top: 10px;
}
.observe-item-title{
    height: 41px;
    font-family: "Sora", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 2;
        color: #fff;
        padding-top: 14px;
}
@media only screen and (min-width: 1440px) {
.observe-section {
        background:
            radial-gradient(ellipse 1200px 390px at center,
                rgba(0, 132, 255, 0.20),
                rgba(64, 86, 255, 0.12) 35%,
                rgba(32, 40, 140, 0.06) 55%,
                rgba(2, 6, 24, 0) 70%),
            #020618;
    }
 .observe-container h2{
    text-align: center;
 }
 .observe-list{
    margin-top: 80px;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
 }
 .observe-item{
    width: 368px;
        height: 254px;
 }
 .observe-item-text{
    width: 258px;
    font-size: 16px;
 }
}
/* Not Every Memory Is Perfect */
.not-text{
    color: #fff;
    margin-top: 10px;
}
.not-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    margin-top: 30px;
}
.not-icon{
    width: 17px;
    height: 17px;
}
.not-item{
    width: 227px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.not-item-text{
    color: rgba(255, 255, 255, 0.4);
}
.not-text-two{
    margin-top: 19px;
    color: #fff;
}
.not-img{
    margin: 30px auto 0;
}
@media only screen and (min-width: 1440px) {
  .not-container{
    display: flex;
    align-items: center;
    gap: 115px;
  }
  .not-img{
    margin-top: 0;
    margin-left: 0;
  }
  .not-list{
    margin-left: 10px;  
    align-items: start;  
  }
  .not-icon{
    width: 33px;
    height: 33px;
  }
  .not-item{
    width: 590px;
  }
  .not-text-two{
    margin-top: 30px;
    width: 610px;
  }
}
/* How Well You Did */
.center{
    text-align: center;
}
.white{
    color: #fff;
}
.how-text{
    margin-top: 10px;
}
.how-text-two{
    font-weight: 700;
        line-height: 2;
        margin-top: 30px;
}
.how-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.how-item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.dot {
    border-radius: 33554400px;
    width: 6px;
    height: 6px;
    background: #00d5be;
}
.how-item-text{
line-height: 1.71429;
    color: rgba(255, 255, 255, 0.7);
}
.how-img-wrapper{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.how-icon-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.how-icon-item{
    display: flex;
    align-items: center;
    gap: 8px;
}
.how-one{
    width: 12px;
        height: 1px;
background: #00d5be;
}
.how-two{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: 1px 0px 0px;
        width: 12px;
        height: 1px;
        background: #c27aff;
}
.how-three{
    border-radius: 33554400px;
        width: 8px;
        height: 8px;
        background: #fb64b6;
}
.how-icon-text{
    font-size: 12px;
        line-height: 1.33333;
        color: rgba(255, 255, 255, 0.6);
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
    .mob{
        display: none;
    }
    .desk{
        display: block;
    }
    .how-text-desk{
        margin-top: 10px;
    }
    .how-wrap{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 127px;
        margin-bottom: 30px;
    }
    .how-text-two{
        margin-top: 0;
    }
    .how-wrapper{
        width: 294px;
    }
    .how-img-wrapper{
        margin-top: 0;
    }
}
/* From Simple Shapes to Layered Patterns */
.from-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.from-text{
    margin-top: 10px;
}
.from-list{
    margin-top: 30px;
    width: 248px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-bottom: 16px;
}
@media only screen and (min-width: 1440px) {
 .from-list{
    margin-top: 56px;
    margin-bottom: 30px;
    width: 313px;
    margin-left: 20px;
 }
}
/* Soft. Focused. Minimal. */
.soft-section{
background:
        radial-gradient(ellipse 100% 310px at center,
            rgba(0, 132, 255, 0.20),
            rgba(64, 86, 255, 0.12) 35%,
            rgba(32, 40, 140, 0.06) 55%,
            rgba(2, 6, 24, 0) 70%),
        #020618;
}
.soft-swiper{
    margin-top: 30px;
}
.soft-swiper .swiper-slide{
    border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 16px;
        padding: 25px;
        height: 195px;
        background: linear-gradient(180deg, rgba(15, 23, 43, 0.5) 0%, rgba(15, 23, 43, 0.2) 100%);
}
.soft-item-title{
    margin-top: 16px;
    font-family: "Sora", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.55556;
        color: #fff;
}
.soft-item-text{
    margin-top: 8px;
line-height: 1.625;
    color: rgba(255, 255, 255, 0.6);
    
}
.cards-swiper .swiper-ui {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.swiper-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 29px;
    height: 29px;
    border-radius: 999px;
    border: 1px solid #fff;
    background: inherit;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform .15s ease, background .15s ease, border-color .15s ease;
}

.swiper-btn:hover {
    transform: translateY(-1px);
    background: linear-gradient(135deg, rgba(0, 187, 167, 0.2) 0%, rgba(173, 70, 255, 0.2) 100%);;
    border-color: inherit;
}

.swiper-btn:disabled {
    opacity: .35;
    cursor: not-allowed;
}

/* pagination bullets */
.swiper-pagination {
    position: static !important;
    width: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.gallery-pagination .swiper-pagination-bullet,
.soft-pagination .swiper-pagination-bullet {
    width: 4px !important;
    height: 4px !important;
    background: rgba(255, 255, 255, 0.6) !important;
    opacity: 1 !important;
    border-radius: 999px;
    margin: 0 !important;
    transition: width .2s ease, height .2s ease, background .2s ease;
}

.gallery-pagination .swiper-pagination-bullet-active,
.soft-pagination .swiper-pagination-bullet-active {
    width: 6px !important;
    height: 6px !important;
    background: #fff !important;
    opacity: 1 !important;
}
@media only screen and (min-width: 1440px) {
    .cards-swiper .swiper-ui {
            display: none;
        }
.soft-swiper{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.soft-swiper .swiper-wrapper{
width: 1200px;
justify-content: center;
gap: 32px;
}
.soft-swiper .swiper-slide{
    width: 276px;
        height: 195px;
}
.soft-item-text{
    font-size: 14px;
        line-height: 1.625;
}
}